/*#############################################################|
|  >>> THEME
*##############################################################*/

//We have three available themes: vanilla (default), light and dark.

//To switch between themes remember:
/*
1) Change the $theme variable below to your desired theme.
2) Start your sass and change the file name output to your desired theme name.
eg.: sass --watch style.scss:scratch-vanilla.css

3) update main.html to the new generated css file
4) Enjoy your new theme!
*/


$theme: "vanilla"; //set your theme here!

//default variables
$bawkbox-widgets-primary: $bawkbox-widgets-red;
$bawkbox-widgets-secondary: $bawkbox-widgets-black;
$bawkbox-theme-primary: $bawkbox-widgets-black;
$bawkbox-theme-secondary: white;
$bawkbox-theme-tertiary: #EFEFEF;

@if $theme == "vanilla" {

  $bawkbox-widgets-primary: $bawkbox-widgets-red;
  $bawkbox-widgets-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-primary: white;
  $bawkbox-theme-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-tertiary: white;

}

@if $theme == "light" {

  $bawkbox-widgets-primary: $bawkbox-widgets-red;
  $bawkbox-widgets-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-primary: white;
  $bawkbox-theme-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-tertiary: #EFEFEF;

}

@if $theme == "dark" {
  $bawkbox-widgets-primary: $bawkbox-widgets-red;
  $bawkbox-widgets-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-primary: $bawkbox-widgets-black;
  $bawkbox-theme-secondary: white;
  $bawkbox-theme-tertiary: #EFEFEF;
}


