
<div class="col-doc-right">

    <h2>Buttons</h2>


    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <h4 class="pb-2 pt-3">Default buttons</h4>
                <hr>
                <p>We can set multiple button colors by choosing one of the classes below: </p>

                <div class="btn-bawkbox-widgets btn-widgets-red ">Submit</div>
                <div class="btn-bawkbox-widgets btn-widgets-black ">Submit</div>
                <div class="btn-bawkbox-widgets btn-widgets-green ">Submit</div>
                <div class="btn-bawkbox-widgets btn-widgets-purple ">Submit</div>
                <div class="btn-bawkbox-widgets btn-widgets-yellow ">Submit</div>

            </div>

            <div class="col-md-12 mb-2">
                <div class="markup-wrapper">
                     <pre class="language-markup markup-box">
                    <code class="language-markup" id="buttons">
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-red &quot;&gt;Submit&lt;/div&gt;
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-black &quot;&gt;Submit&lt;/div&gt;
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-green &quot;&gt;Submit&lt;/div&gt;
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-purple &quot;&gt;Submit&lt;/div&gt;
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-yellow &quot;&gt;Submit&lt;/div&gt;</code>
                </pre>
                    <button class="btn-copy-clipboard" data-clipboard-target="#buttons" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="click" title="Copied to clipboard!">Copy
                    </button>
                </div>
            </div>

            <div class="col-md-12 mt-5 mb-2">
                <h4 class="pb-2 pt-3">Right aligned buttons</h4>
                <hr>
                <p>You can just add the class "btn-align-right"</p>
                <div class="btn-bawkbox-widgets btn-widgets-green btn-align-right">Submit</div>
            </div>

            <div class="col-md-12">
                <div class="markup-wrapper">
                     <pre class="language-markup markup-box">
                    <code class="language-markup" id="buttons-right-aligned">
    &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-green btn-align-right&quot;&gt;Submit&lt;/div&gt;
                    </code>
                </pre>
                    <button class="btn-copy-clipboard" data-clipboard-target="#buttons-right-aligned" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="click" title="Copied to clipboard!">Copy
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>