

<div class="col-doc-right">

    <h2>Checkbox & Radios</h2>


    <div class="check-container">
        <div class="row">
            <div class="col-md-12 mb-2">
                <h4 class="pb-2 pt-3">Checkbox</h4>
                <hr>

                <label class="check-container"><span class="check-text">One</span>
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>

                <label class="check-container"><span class="check-text">Two</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>


            </div>


        </div>

        <div class="row">
            <div class="col-md-12 mb-2">
                <h4 class="pb-2 pt-3">Radio Buttons</h4>
                <hr>

                  <div class="radio-container">

                      <div class="radio">
                          <input type="radio" id="first" name="radio-group" checked>
                          <label for="first">First</label>
                      </div>

                      <div class="radio">
                          <input type="radio" id="second" name="radio-group">
                          <label for="second">Second</label>
                      </div>


                  </div>
              


            </div>


        </div>
    </div>


</div>
