
<div class="col-doc-right">

    <h2>Feedback</h2>

    <div class="container">
        <h4 class="pb-2 pt-3">Default</h4>
        <hr>
        <p>Click on the gray tab or the stars to trigger feedback form functions.</p>

        <div class="row">


            <div class="col-lg-12">
                <div class="feedback-box">

                    <div class="feedback feedback-open">

                        <div class="feedback-title">
                            Feedback
                        </div>
                        <div class="feedback-icon">
                        </div>

                        <div class="feedback-content">
                            <div class="rating-text">How would you rate the Website?

                                <div class="stars center">
                                    <img src="/dist/images/widgets/components/rating-star.svg" class="star-review"
                                         data-star-id="1">
                                    <img src="/dist/images/widgets/components/rating-star.svg" class="star-review"
                                         data-star-id="2">
                                    <img src="/dist/images/widgets/components/rating-star.svg" class="star-review"
                                         data-star-id="3">
                                    <img src="/dist/images/widgets/components/rating-star-outline.svg" class="star-review"
                                         data-star-id="4">
                                    <img src="/dist/images/widgets/components/rating-star-outline.svg" class="star-review"
                                         data-star-id="5">
                                </div>
                            </div>


                        </div>


                        <a class="disclaimer" href="http://www.bawkbox.com" target="_blank">
                            powered by
                            <object type="image/svg+xml" data="../dist/images/widgets/components/widget-logo.svg"
                                    class="bawkbox-powered-by-logo">
                                <img src="../dist/images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                            </object>
                        </a>


                    </div>


                </div>

            </div>
            <div class="col-lg-12 mt-3">
                <div class="markup-wrapper">
                     <pre class="language-markup markup-box">
                    <code class="language-markup" id="buttons">
                        &lt;div class=&quot;feedback feedback-open&quot;&gt;
                            &lt;div class=&quot;feedback-title&quot;&gt;
                                Feedback
                            &lt;/div&gt;
                            &lt;div class=&quot;feedback-icon&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;feedback-content&quot;&gt;
                                &lt;div class=&quot;rating-text&quot;&gt;How would you rate the Website?
                                    &lt;div class=&quot;stars center&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;1&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;2&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;3&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star-outline.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;4&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star-outline.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;5&quot;&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;a class=&quot;disclaimer&quot; href=&quot;http://www.bawkbox.com&quot; target=&quot;_blank&quot;&gt;
                                powered by
                                &lt;object type=&quot;image/svg+xml&quot; data=&quot;../images/widgets/components/widget-logo.svg&quot;
                                        class=&quot;bawkbox-powered-by-logo&quot;&gt;
                                    &lt;img src=&quot;../images/widgets/components/widget-logo.svg&quot; class=&quot;bawkbox-powered-by-logo&quot;&gt;
                                &lt;/object&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;


                    </code>
                </pre>
                    <button class="btn-copy-clipboard" data-clipboard-target="#buttons" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="click" title="Copied to clipboard!">Copy
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>