<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scracth Framework - by Bawkbox</title>

    <!--BOOTSTRAP (Header)-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>


    <!--SCRATCH FRAMEWORK FILES-->
    <script src="../js/scratch.js"></script>
    <link rel="stylesheet" href="../sass/style.css">

    <!--PRISMJS SYNTAX HIGHLIGHTER-->

    <link href="../node_modules/prismjs/themes/prism.css" rel="stylesheet"/>
    <script src="../node_modules/prismjs/prism.js"></script>

    <!--COPY TO CLIPBOARD JS PLUGIN-->
    <script src="../node_modules/clipboard/dist/clipboard.min.js"></script>


    <!--CUSTOM JS-->

    <script src="../js/app.js"></script>


</head>


<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">
            <strong>Scratch CSS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../documentation.html">Documentation</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>

        </div>
    </nav>
</header>

<main class="doc-container">


    <!--OPTIONS-->
    <div class="col-doc-left">

        <h5 class="components-title">Components</h5>
        <ul class="components-list">
            <!--DYNAMICALLY GENERATED MENU HERE-->
        </ul>

    </div>


    <div class="col-doc-right">

        <h2>Feedback</h2>

        <div class="container">
            <h4 class="pb-2 pt-3">Default</h4>
            <hr>
            <p>Click on the gray tab or the stars to trigger feedback form functions.</p>

            <div class="row">


                <div class="col-lg-12">
                    <div class="feedback-box">

                        <div class="feedback feedback-open">

                            <div class="feedback-title">
                                Feedback
                            </div>
                            <div class="feedback-icon">
                            </div>

                            <div class="feedback-content">
                                <div class="rating-text">How would you rate the Website?

                                    <div class="stars center">
                                        <img src="../images/widgets/components/rating-star.svg" class="star-review"
                                             data-star-id="1">
                                        <img src="../images/widgets/components/rating-star.svg" class="star-review"
                                             data-star-id="2">
                                        <img src="../images/widgets/components/rating-star.svg" class="star-review"
                                             data-star-id="3">
                                        <img src="../images/widgets/components/rating-star-outline.svg" class="star-review"
                                             data-star-id="4">
                                        <img src="../images/widgets/components/rating-star-outline.svg" class="star-review"
                                             data-star-id="5">
                                    </div>
                                </div>


                            </div>


                            <a class="disclaimer" href="http://www.bawkbox.com" target="_blank">
                                powered by
                                <object type="image/svg+xml" data="../images/widgets/components/widget-logo.svg"
                                        class="bawkbox-powered-by-logo">
                                    <img src="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                                </object>
                            </a>


                        </div>


                    </div>

                </div>
                <div class="col-lg-12 mt-3">
                    <div class="markup-wrapper">
                     <pre class="language-markup markup-box">
                    <code class="language-markup" id="buttons">
                        &lt;div class=&quot;feedback feedback-open&quot;&gt;
                            &lt;div class=&quot;feedback-title&quot;&gt;
                                Feedback
                            &lt;/div&gt;
                            &lt;div class=&quot;feedback-icon&quot;&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;feedback-content&quot;&gt;
                                &lt;div class=&quot;rating-text&quot;&gt;How would you rate the Website?
                                    &lt;div class=&quot;stars center&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;1&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;2&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;3&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star-outline.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;4&quot;&gt;
                                        &lt;img src=&quot;../images/widgets/components/rating-star-outline.svg&quot; class=&quot;star-review&quot;
                                             data-star-id=&quot;5&quot;&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;a class=&quot;disclaimer&quot; href=&quot;http://www.bawkbox.com&quot; target=&quot;_blank&quot;&gt;
                                powered by
                                &lt;object type=&quot;image/svg+xml&quot; data=&quot;../images/widgets/components/widget-logo.svg&quot;
                                        class=&quot;bawkbox-powered-by-logo&quot;&gt;
                                    &lt;img src=&quot;../images/widgets/components/widget-logo.svg&quot; class=&quot;bawkbox-powered-by-logo&quot;&gt;
                                &lt;/object&gt;
                            &lt;/a&gt;
                        &lt;/div&gt;


                    </code>
                </pre>
                        <button class="btn-copy-clipboard" data-clipboard-target="#buttons" data-toggle="tooltip"
                                data-placement="bottom" data-trigger="click" title="Copied to clipboard!">Copy
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>



    </div>


</main>


<!--BOOTSTRAP (Footer)-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>