

<div class="col-doc-right">

    <h2>Forms</h2>

    <div class="container">

        <div class="row">

            <div class="col-lg-12 mb-5">
                <!--CONTACT DEFAULT-->
                <h4 class="pb-2 pt-3">Default Theme</h4>
                <hr>
                <div class="bawkbox-contact">

                    <div class="bawkbox-contact-title">Contact Us</div>

                    <input type="text" placeholder="name" class="bawkbox-widgets-input">
                    <input type="email" placeholder="email" class="bawkbox-widgets-input">

                    <div class="bawkbox-textarea-wrapper">
                        <textarea class="bawkbox-widgets-textarea" cols="30" rows="10" placeholder="message"></textarea>
                        <div class="bawkbox-powered-by">powered by &copy;
                            <img ng-src="dist/images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                        </div>
                    </div>
                    <div class="btn-bawkbox-widgets btn-widgets-primary btn-align-right">Submit</div>

                </div>
            </div>

            <div class="col-lg-12">

                <div class="markup-wrapper">
                     <pre class="language-markup markup-box markup-box-big">
                    <code class="language-markup" id="contact-default">

                &lt;div class=&quot;bawkbox-contact&quot;&gt;

            &lt;div&gt;Contact Us&lt;/div&gt;

            &lt;input type=&quot;text&quot; placeholder=&quot;name&quot; class=&quot;bawkbox-widgets-input&quot;&gt;
            &lt;input type=&quot;email&quot; placeholder=&quot;email&quot; class=&quot;bawkbox-widgets-input&quot;&gt;

            &lt;div class=&quot;bawkbox-textarea-wrapper&quot;&gt;
                &lt;textarea class=&quot;bawkbox-widgets-textarea&quot; cols=&quot;30&quot; rows=&quot;10&quot; placeholder=&quot;message&quot;&gt;&lt;/textarea&gt;
                &lt;div class=&quot;bawkbox-powered-by&quot;&gt;powered by &amp;copy;
                    &lt;img ng-src=&quot;dist/images/widgets/components/widget-logo.svg&quot; class=&quot;bawkbox-powered-by-logo&quot;&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;btn-bawkbox-widgets btn-widgets-secondary btn-align-right&quot;&gt;Submit&lt;/div&gt;


                </code>




                </pre>
                    <button class="btn-copy-clipboard" data-clipboard-target="#contact-default" data-toggle="tooltip"
                            data-placement="bottom" data-trigger="click" title="Copied to clipboard!">Copy
                    </button>
                </div>

            </div>

        </div>



    </div>


</div>
