<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scracth Framework - by Bawkbox</title>

    <!--BOOTSTRAP (Header)-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="../sass/style.css">

    <script src="../js/app.js"></script>



</head>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="../index.html">
            <strong>Scratch CSS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../documentation.html">Documentation</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>

        </div>
    </nav>
</header>

<main class="doc-container">


    <!--OPTIONS-->
    <div class="col-doc-left">

        <h5 class="components-title">Components</h5>
        <ul class="components-list">
            <!--DINAMICALLY GENERETED MENU HERE-->
        </ul>

    </div>


    <div class="col-doc-right">

        <h2>Forms</h2>

        <p>This contact and reviews form widget design is easily adaptable to most of the background colors, coming in two different samples: A for light backgrounds and B for darker backgrounds.


        <div class="contact-container">

            <div class="bawkbox-contact">

                <div class="bawkbox-contact-title white">Contact Us</div>

                <input type="text" placeholder="name" class="bawkbox-widgets-input">
                <input type="email" placeholder="email" class="bawkbox-widgets-input">

                <div class="bawkbox-textarea-wrapper">
                    <textarea class="bawkbox-widgets-textarea" cols="30" rows="10" placeholder="message"></textarea>
                    <div class="bawkbox-powered-by">powered by &copy;
                        <object type="image/svg+xml" data="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                            <img src="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                        </object>
                    </div>
                </div>


                <div class="btn-bawkbox-widgets btn-widgets-black btn-align-right">Submit</div>


            </div>

            <div class="bawkbox-contact dark-theme">

                <div class="bawkbox-contact-title dark">Contact Us</div>

                <input type="text" placeholder="name" class="bawkbox-widgets-input">
                <input type="email" placeholder="email" class="bawkbox-widgets-input">

                <div class="bawkbox-textarea-wrapper">
                    <textarea class="bawkbox-widgets-textarea" cols="30" rows="10" placeholder="message"></textarea>
                    <div class="bawkbox-powered-by">powered by &copy;
                        <object type="image/svg+xml" data="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                            <img src="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                        </object>
                    </div>
                </div>


                <div class="btn-bawkbox-widgets btn-widgets-red  btn-align-right">Submit</div>


            </div>

            <div class="bawkbox-contact transparent-theme rio">

                <div class="bawkbox-contact-title dark">Contact Us</div>

                <input type="text" placeholder="name" class="bawkbox-widgets-input">
                <input type="email" placeholder="email" class="bawkbox-widgets-input">

                <div class="bawkbox-textarea-wrapper">
                    <textarea class="bawkbox-widgets-textarea" cols="30" rows="10" placeholder="message"></textarea>
                    <div class="bawkbox-powered-by">powered by &copy;
                        <object type="image/svg+xml" data="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                            <img src="../images/widgets/components/widget-logo.svg" class="bawkbox-powered-by-logo">
                        </object>
                    </div>
                </div>

                <div class="btn-bawkbox-widgets btn-widgets-green btn-align-right">Submit</div>


            </div>

        </div>

    </div>


</main>


<!--BOOTSTRAP (Footer)-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>