button {

  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 4.1px;
  border: none;
  outline: none;
  min-width: 130px;
  max-width: 100px;
  margin-top: 1rem;

  display: inline-block;
  float: left;
  margin-right: 1rem;


}

.btn-widets-primary {
  background-color: $bawkbox-widgets-black;
}

.btn-align-right {
  float: right;
  margin-right: 0;

}
