$bawkbox-widgets-black: #464646;
$bawkbox-widgets-red: #E45336;
$bawkbox-widgets-green: #9FC357;
$bawkbox-widgets-purple: #745DF9;
$bawkbox-widgets-aqua: #11B8C6;
$bawkbox-widgets-yellow: #FED768;

/*#############################################################|
|  >>> THEME
*##############################################################*/

$theme: "dark"; //set your theme here!

//default variables
$bawkbox-widgets-primary: $bawkbox-widgets-red;
$bawkbox-widgets-secondary: $bawkbox-widgets-black;
$bawkbox-theme-primary: $bawkbox-widgets-black;
$bawkbox-theme-secondary: white;


@if $theme == "light" {

  $bawkbox-widgets-primary: $bawkbox-widgets-red;
  $bawkbox-widgets-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-primary: white;
  $bawkbox-theme-secondary: $bawkbox-widgets-black;

}

@if $theme == "dark" {

  $bawkbox-widgets-primary: $bawkbox-widgets-red;
  $bawkbox-widgets-secondary: $bawkbox-widgets-black;
  $bawkbox-theme-primary: $bawkbox-widgets-black;
  $bawkbox-theme-secondary: white;


}




