$bawkbox-widgets-black: #464646;
$bawkbox-widgets-red: #E45336;
$bawkbox-widgets-green: #9FC357;
$bawkbox-widgets-purple: #745DF9;
$bawkbox-widgets-aqua: #11B8C6;
$bawkbox-widgets-yellow: #FED768;




