
.bawkbox-widgets-input {
  border-radius: 3px;
  background-color: $bawkbox-theme-tertiary;

  @include checkInputBorder($theme);

  outline: none;
  padding: 0.8rem;
  font-family: $font-primary;
  font-size: 0.9rem;
  width: 100%;
  margin-top: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

.bawkbox-widgets-input::placeholder,
.bawkbox-widgets-textarea::placeholder {
  font-size: 0.8rem;
  text-transform: lowercase;
  font-weight: 600;
  color: #B4B4B4;

}

.bawkbox-widgets-textarea {
  position: relative;
  border-radius: 3px;
  background-color: $bawkbox-theme-tertiary;
  @include checkInputBorder($theme);
  outline: none;
  padding: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  width: 100%;
  resize: none;
  margin-top: 1rem;
  box-sizing: border-box;
}

.bawkbox-textarea-wrapper {
  position: relative;
}

.bawkbox-powered-by {
  position: absolute;
  bottom: 1rem;
  color: #B4B4B4;
  font-size: 0.6rem;
  left: 0;
  width: 100%;
  text-align: right;
  padding-right: 1rem;
}

.bawkbox-powered-by-logo {
  max-width: 50px;
  padding-left: .2rem;
}