.contact-container {
  background-color: white;
  font-family: $font-primary;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 5rem;
}

/* Components =========================================== */

.bawkbox-contact {
  padding: 1rem;
  height: auto;
  padding-bottom: 1rem;
  box-sizing: border-box;
  align-self: center;
  margin-bottom: 2rem;
  display:inline-block;
  float:left;

  .bawkbox-contact-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: -0.1rem;
    color: $bawkbox-theme-secondary;
  }

  background-color: $bawkbox-theme-primary;
}


.center {
  justify-content: center;
  align-items: center;
}