
.feedback-open {
  right: 0;
}

.feedback-close {
  right: -16rem;
}

.feedback-box {
  position: relative;
  -webkit-box-shadow: inset 4px 4px 5px -3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 4px 4px 5px -3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 4px 4px 5px -3px rgba(0, 0, 0, 0.15);
  width: 81.7%;
  height: 227px;
  overflow: hidden;

  .feedback {
    position: absolute;
    top: 0;
    transition-property: right;
    transition-duration: 1s;
    border: 1px solid #343a402e;
    border-left-color: #464646;
    border-left-width: 3rem;
    border-left-style: solid;
    width: 300px;
    height: 227px;
    border-radius: 5px;
    -webkit-box-shadow: -8px 8px 5px -4px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -8px 8px 5px -4px rgba(0, 0, 0, 0.23);
    box-shadow: -8px 8px 5px -4px rgba(0, 0, 0, 0.23);

    .feedback-title {
      position: absolute;
      top: 0.5rem;
      left: -3.7rem;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      writing-mode: vertical-rl;
      font-weight: 600;
      color: white;
      letter-spacing: 1.8px;
      cursor: pointer;
      height: 91%;
      padding: .5rem;

    }

    .feedback-content {
      width: 220px;
      height: 167px;
      position: absolute;
      top: 8.1px;
      left: 17px;
      display: flex;
      flex-wrap: wrap;

      .rating-text {
        font-family: "Open Sans", sans-serif;
        font-size: 0.9rem;
        color: #464646;
        text-align: center;
        font-weight: bold;
        align-self: center;
      }

    }

    .feedback-icon {
      width: 22px;
      height: 22px;
      background-image: url("/widget-static/svg/components/mailbox.svg");
      background-repeat: no-repeat;
      position: absolute;

      bottom: 0.6rem;
      left: -2.1rem;

    }

  }

}


.feedback-disclaimer {
  color: #ACABAC;
  font-size: 0.65rem;
  position: absolute;
  bottom: -2.5rem;
  left: 3.4rem;
  width: 230px;
}

.feedback-disclaimer:hover, .feedback-disclaimer :active {
  text-decoration: none;
}

.bawk-rating-size {
  margin-left: 0 !important;
  margin-right: 0 !important;
}